/*           GAME  ROW          */

.game-container-0 {
	background-image: url("../images/rooms/room0.jpg");
	background-size: cover;

	height: 600px;
	width: 1200px;
	position: relative;
	background-color: red;
	margin: 0 auto;
	/*display: none;*/
}
/*               ADDING EACH CLICKING ELEMENT HERE                      */
.click {
	/*opacity: 0;*/
	width: 50px;
	height: 50px;
}
.clue-0-0 {
	position: absolute;
	top: 88%;
	left: 10%;
}
.clue-0-1 {
	position: absolute;
	top: 60%;
	left: 37%;
}
.clue-0-2 {
	position: absolute;
	top: 45%;
	left: 52%;
}
.clue-0-3 {
	position: absolute;
	top: 70%;
	left: 53%;
}
.clue-0-4 {
	position: absolute;
	top: 50%;
	left: 7%;
}
/*.clue-0-5 {
	position: absolute;
	top: 50%;
	left: 100%;
}*/
.item-0-0 {
	position: absolute;
	top: 0%;
	left: 0%;
}
.item-0-1 {
	position: absolute;
	top: 0%;
	left: 0%;
}
.item-0-2 {
	position: absolute;
	top: 72%;
	left: 65%;
}
.item-0-3 {
	position: absolute;
	top: 85%;
	left: 77%;
}
.unlock-0-0 {
	position: absolute;
	top: 75%;
	left: 39%;
}
.unlock-0-1 {
	position: absolute;
	top: 37%;
	left: 20%;
}
.unlock-0-2 {
	position: absolute;
	top: 82%;
	left: 87%;
}
.unlock-0-3 {
	position: absolute;
	top: 45%;
	left: 67%;
}