

/*           GAME  ROW          */

.game-container-1 {
	background-image: url("../images/room6.jpg");
	background-size: cover;

	height: 600px;
	width: 1200px;
	position: relative;
	background-color: red;
	/*display: none;*/
	margin: 0 auto;
}


/*               ADDING EACH CLICKING ELEMENT HERE                      */
.click {
	/*opacity: 0;*/
}
.clue-1-0 {
	position: absolute;
	top: 50%;
	right: 20%;
	color: orange;
}
.clue-1-1 {
	position: absolute;
	left: 10%;
	right: 30%;
	color: green;
}
.clue-1-2 {
	position: absolute;
	left: 30%;
	right: 50%;
	color: blue;
}
.item-1-0 {
	position: absolute;
	top: 0%;
	right: 0%;
	color: green;
}
.item-1-1 {
	position: absolute;
	top: 30%;
	right: 80%;
	color: green;
}
.unlock-1-0 {
	position: absolute;
	top: 35%;
	right: 45%;
	color: red;
}
.unlock-1-1 {
	position: absolute;
	top: 90%;
	right: 70%;
	color: blue;
}