/*			 No highlighting of background 					*/
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*						 								*/
body {
	background: black;
	color: white;
	font-family: 'Oswald', sans-serif;
}
/*			 MAIN CONTAINER			*/

#start {
	padding: 20px;
	font-size: 30px;
	border-radius: 10px;
	cursor: pointer;
	margin: 20px;
}
#start:active{
	cursor: grabbing;
}
#bg-button {
	position: absolute;
	top: 3%;
	left: 90%;
}

.main-container {
	/*visibility: hidden;*/
	margin-top: 50px;
	text-align: center;
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.intro-container {
}

/*			 DIFFICULTY CONTAINER			*/
.difficulty-container {
	display: none;
}
.difficulty {
	padding: 15px;
	font-size: 25px;
	border-radius: 10px;
	cursor: pointer;
	margin: 20px 10px;
}
/*.big-headers apply to both difficulty and story container*/
.big-headers {
	font-size: 42px;
	margin: 20px;
}

/*			 STORY CONTAINER			*/
.story {
	font-size: 22px;
	margin: 30px;
}
.story-container {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px darkgrey;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 80%;
  padding: 20px;
  text-align: center;

  display: none;
}

/*			 STATUS BAR   			*/

.stats-container {
	display: flex;
	justify-content: space-around;
}
.stat-wrap {
	display: flex;
	flex-flow: column;
	width: 200px;
}
.sidebar {
	display: inline-block;
	font-size: 23px;
	margin: 5px;
}

.bar {
	border: 3px solid white;
	border-radius: 10px;
	padding: 10px;
	display: inline-block;
}

.time {
	display: inline-block;
	font-size: 30px;
}

#input {
	display: inline-block;
	font-size: 20px;
	border-radius: 10px;
}

/*			 MOUSE POINTER    			*/

.click {
	cursor: -webkit-grab;
	cursor: grab;
}

.click:active {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}
/*			 END     			*/