/*			 No highlighting of background 					*/
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*						 								*/
body {
	background-image: url("../images/bg-main-image.jpg");
  height: 850px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
	/*background: black;*/
	color: white;
	font-family: 'Oswald', sans-serif;
}
/*			 MAIN CONTAINER			*/

#start {
	padding: 20px;
	font-size: 30px;
	border-radius: 10px;
	cursor: pointer;
	margin: 20px;
	font-weight: 600;
}
#start:active{
	cursor: grabbing;
}

#bg-button {
	content: url('../images/icons/sound-on.jpg');
	position: absolute;
	top: 2%;
	left: 93%;
}

.main-container {
	/*visibility: hidden;*/
	margin-top: 35px;
	text-align: center;
}

/* OVERLAY FEATURE HERE IS NOT WORKING PROPERLY
.game-over {
	position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/room0.jpg")
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}*/

/*			 DIFFICULTY CONTAINER			*/
.difficulty-container {
	display: none;
}
.difficulty {
	padding: 15px;
	font-size: 25px;
	border-radius: 10px;
	cursor: pointer;
	margin: 20px 10px;
	font-weight: 600;
}
/*.big-headers apply to both difficulty and story container*/
.big-headers {
	font-size: 50px;
	margin: 20px;
}

/*			 STORY AND GAME OVER CONTAINER (WITH BLUR)		*/

.story {
	font-size: 25px;
	margin: 30px;
}
.story-container {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  /*font-weight: bold;*/
  border: 3px darkgrey;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 80%;
  padding: 20px;
  text-align: center;
  display: none;
}

/*		if time reaches zero		*/
.gameOver-container {
 /* background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4); */
  background-image: url("../images/gameover/gameover-life.png");
  background-size: cover;
  border: 3px darkgrey;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 95%;
  height: 95%;
  /*padding: 20px;*/
/*  display: flex;*/
  justify-content: center;

  display: none;
}

/*		if life reaches zero		*/

.gameOver-container2 {
 /* background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4); */
  background-image: url("../images/gameover/gameover-time.jpg");
  background-size: cover;
  border: 3px darkgrey;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 95%;
  height: 95%;
  /*padding: 20px;*/
/*  display: flex;*/
  justify-content: space-between;
  align-items: center;
  display: none;
}

.gameOver-text{
	font-size: 150px;
	color: red;
	font-family: 'Creepster', cursive;
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.blur1 {
  filter: blur(12px);
  -webkit-filter: blur(12px);
}

/*						WIN GAME CONTAINER						*/

.winGame-easy-container {
  background-image: url("../images/gameover/wingame.jpg");
  background-size: cover;
  border: 3px darkgrey;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 95%;
  height: 95%;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  display: none;
}
.win-easy-text {
	font-size: 40px;
	font-family: 'Oswald', sans-serif;
	margin: 100px;
}

.winGame-medium-container {
  background-image: url("../images/gameover/wingame.jpg");
  background-size: cover;
  border: 3px darkgrey;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 95%;
  height: 95%;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  display: none;
}

.winGame-easter-container {
  background-image: url("../images/rooms/end1.jpg");
  background-size: cover;
  border: 3px darkgrey;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 95%;
  height: 95%;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.win-easter-text {
	font-size: 55px;
	font-family: 'Oswald', sans-serif;
	margin: 30px;
	padding-bottom: 100px;
}
/*			 STATUS BAR   			*/

.stats-container {
	display: flex;
	justify-content: space-around;
}
.stat-wrap {
	display: flex;
	flex-flow: column;
	width: 200px;
}
.sidebar {
	display: inline-block;
	font-size: 23px;
	margin: 5px;
	opacity: 0.9;
}

.bar {
	border: 3px solid white;
	border-radius: 10px;
	padding: 10px;
	display: inline-block;
	opacity: 0.9;
}

.time {
	display: inline-block;
	font-size: 30px;
}

#input {
	display: inline-block;
	font-size: 20px;
	border-radius: 10px;
}

/*			 MOUSE POINTER    			*/

.click {
	cursor: -webkit-grab;
	cursor: grab;
}

.click:active {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}
/*			 END     			*/