body {
	margin: auto;
	display: flex;
	justify-content: center;
}
button {
	padding: 20px;
	font-size: 30px;
}

.container {
	background-image: url("https://i.pinimg.com/originals/d9/91/e8/d991e8e3e290391882fad9d55107a1bc.jpg");
	background-size: cover;
	height: 600px;
	width: 1200px;
	position: relative;
	/*background-color: red;*/
	display: none;
}

/*				 ADDING EACH CLICKING ELEMENT HERE 						*/
.one {
	position: absolute;
	top: 50%;
	right: 20%;
	color: red;
}
.two {
	position: absolute;
	left: 10%;
	right: 30%;
	color: red;
}
.three {
	position: absolute;
	top: 0%;
	right: 0%;
	color: red;
}
.four {
	position: absolute;
	top: 30%;
	right: 80%;
	color: red;
}
.five {
	position: absolute;
	top: 35%;
	right: 45%;
	color: red;
}
.six {
	position: absolute;
	top: 90%;
	right: 70%;
	color: red;
}